source ~/.git-completion.bash
source ~/.git-prompt.sh
source ~/.shortcuts.sh

txtred='\[\e[0;31m\]' # Red
txtgrn='\[\e[0;32m\]' # Green
txtylw='\[\e[0;33m\]' # Yellow
txtblu='\[\e[0;34m\]' # Blue
txtpur='\[\e[0;35m\]' # Purple
txtcyn='\[\e[0;36m\]' # Cyan
txtrst='\[\e[0m\]'    # Text Reset
GIT_PS1_SHOWDIRTYSTATE=true

# Bash completion for docker
# if [ -f $(brew --prefix)/etc/bash_completion ]; then
#     source $(brew --prefix)/etc/bash_completion
# fi
# export NODE_ENV='development'

export PATH="/opt/local/bin:/opt/local/sbin:$PATH"
export EDITOR="code -w"
export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS=exfxcxdxHxegedabagacGx
export ANDROID_HOME=/Users/$USER/Library/Android/sdk
export PATH=$PATH:~/Library/Python/2.7/bin:/usr/local/bin/:/Users/sheaclose/Library/Android/sdk/platform-tools
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home/
export PS1="\n"$txtred$USER" 🍺  "$txtgrn"\w "'$(
        if [[ $(__git_ps1) =~ \*\)$ ]]; then
            echo "'$txtylw'"$(__git_ps1 "(%s)")
        elif [[ $(__git_ps1) =~ \+\)$ ]]; then
            echo "'$txtpur'"$(__git_ps1 "(%s)")
        else
            echo "'$txtcyn'"$(__git_ps1 "(%s)")
        fi)'"\n"$txtblu"=> "$txtrst

# #################################
# # Aliases                       #
# #################################
alias remove="rm -rf"
alias gs="git status"
alias start="code .; npm run start"
alias dev="npm run dev"
alias gb="git branch"
alias gps="git push --set-upstream origin master"
alias gpull="git pull origin $(git branch | grep \* | cut -d ' ' -f2)"
alias gch="git checkout"
alias gmd="git merge dev"
alias gr="git remote -v"
alias ll="ls -lah"
alias f="open -a Finder ./"
alias prof="code ~/.bash_profile"
alias src="source ~/.bash_profile"
alias please="npm"
alias ios="npx react-native run-ios --device \"Test phone\""
alias fetchall="git fetch --all"
# alias aws="aws-shell"
alias d="docker"
alias dcu="docker-compose up"
alias dcd="docker-compose down"
alias dcr="docker-compose restart"
alias passphrase="ssh-add ~/.ssh/id_rsa"
alias backstage="cdl ~/eventology/backstage"
alias backend="cdl ~/eventology/backend"
alias oz="cdl ~/eventology/oz"
alias elasticsearch="cdl ~/eventology/cosmunity-elasticsearch"
alias mobile="cdl ~/eventology/mobile"
alias fanguru="cdl ~/eventology/fanguru-web"
alias random="date +%s | md5 | base64 | head -c 32 ; echo"
alias known_hosts="code ~/.ssh/known_hosts"
alias shortcuts="code ~/.shortcuts.sh"
alias admin="cdl ~/eventology/admin-app"
alias lord="telnet lord.stabs.org"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && . "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
