source ~/.git-completion.bash
source ~/.git-prompt.sh
txtred='\[\e[0;31m\]' # Red
txtgrn='\[\e[0;32m\]' # Green
txtylw='\[\e[0;33m\]' # Yellow
txtblu='\[\e[0;34m\]' # Blue
txtpur='\[\e[0;35m\]' # Purple
txtcyn='\[\e[0;36m\]' # Cyan
txtrst='\[\e[0m\]'    # Text Reset
GIT_PS1_SHOWDIRTYSTATE=true

export LS_OPTIONS='--color=auto'
export CLICOLOR='Yes'
export LSCOLORS=exfxcxdxHxegedabagacGx
export ANDROID_HOME=/Users/$USER/Library/Android/sdk
export PATH=$PATH:/usr/local/bin/:/Users/sheaclose/Library/Android/sdk/platform-tools
export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_192.jdk/Contents/Home/
export PS1="\n"$txtred$USER" 🍺  "$txtgrn"\w "'$(
        if [[ $(__git_ps1) =~ \*\)$ ]]; then
            echo "'$txtylw'"$(__git_ps1 "(%s)")
        elif [[ $(__git_ps1) =~ \+\)$ ]]; then
            echo "'$txtpur'"$(__git_ps1 "(%s)")
        else
            echo "'$txtcyn'"$(__git_ps1 "(%s)")
        fi)'"\n"$txtblu"=> "$txtrst
# #################################
# # Functions                     #
# #################################
addurl (){
  echo $1
  git remote add origin $1
}

gacm (){
  git add -A
  git commit -m "$1"
}

nodeman (){
  nodemon --inspect $1
}

cdl () {
  cd $1
  ls
}

gc (){
  git clone "$1" && cd "$(basename -s .git "$1")"
  if [ "$2" = "lsq" ]
  then
    live-server index.html
  fi
}

seturl (){
  git remote set-url origin $1
}

removegitref (){
  git filter-branch --tree-filter "rm -rf $1" --prune-empty HEAD
  git for-each-ref --format="%(refname)" refs/original/ | xargs -n 1 git update-ref -d
  git add .gitignore
  git commit -m "Removing $1 from git history"
  git gc
}

mkcd () {
  mkdir $1
  cd $1
}

trash(){
  mv $1 ~/.Trash 
}

debugger(){
  # if [ "$1" = "n" ] 
  # then
  #   open "rndebugger://set-debugger-loc?host=localhost&port=8081"
  # fi
  open "rndebugger://set-debugger-loc?host=localhost&port=8081"
}

# gpb(){
#   git push origin $(git name-rev --name-only HEAD)
#   git checkout dev
# }

# example of piping exit codes to other commands.
gpb (){
  git push origin $(git name-rev --name-only HEAD) | 
  if [ "$?" = 0 ]
  then 
    git checkout dev
    git pull origin dev
  fi
}

# #################################
# # Aliases                       #
# #################################
alias .="code ."
alias remove="rm -rf"
alias gs="git status"
alias start="npm run start"
alias dev="npm run dev"
alias gb="git branch"
alias gp="git push"
alias gps="git push --set-upstream origin master"
alias ll="ls -lah"
alias gpom="git push origin master"
alias f="open -a Finder ./"
alias gr="git remote -v"
alias prof="code ~/.bash_profile"
alias src="source ~/.bash_profile"
alias please="npm"
alias ios="npx react-native run-ios --device \"Test phone\""
